.bottom{
    width: 100vw;
    height: 10vh;
    background-color: green;
    p{
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 30px;
        text-align: center;
        font-style: italic;
    }
}