*{
    font-style: italic;
}
.search{
    padding: 30px;
    margin-left:20%;
 input{
    width: 1000px;
    height: 45px;
    padding-left: 15px;
    border:4px solid green;
    background-color: rgb(139, 179, 139);
}
::placeholder{
    color: white;
    font-size: 20px;
        
}
}
#mybtn1{
    width: 250px;
    height: 55px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 20px;
}

#mybtn1:hover{
    width: 255px;
    height: 57px;
    transition-duration: 0.1s;
    background-color:rgba(0, 128, 0, 0.259);
    cursor: pointer;
}
#mybtn1:hover:active{

    background-color: red;
}
.middle{
    width: 100vw;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    overflow-y: scroll;
    justify-items: center;
}
