nav{    
     background-color:green;
     padding: 20px;
    }
li{
    display: inline;
    padding-right: 40px;
    font-size: 40px;
    color: white;
}
h1{
    margin-left: 30px;
    font-size: 60px;
    font-style: italic;
    display: inline;
    color: white;
}
ul{
    display: inline;
    margin-left: 60%;
    font-style: italic;
}
span {
    font-size: 50px;
    color: red;
}
#one{
    font-size: 60px;
    color: red;
}
li:hover{
    color: black;
}