.top{
    width: 100vw;
    height: 15vh;
    background-color: green;
    h1{
        margin: 0;
        display: flex;
        justify-content: center;
        font-size: 60px;
    }
    span{
        color:red;

    }
}